.fa-searchengin {
  padding-left: 4px;
  padding-top: 5px;
  color: #105316 !important;
}

.fa-searchengin {
  font-size: 24px;
  color: black;
  display: inline-block;
}

.fa-plus-circle {
  font-size: 24px !important;
  margin-left: 500px;
  display: inline-block;
}

.itensMenu {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.itensMenu:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  color: #881e68;
}

p {
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 10px;
  font: bolder;
}

#botaoAdicionarPaciente {
  margin-top: 110px;
  margin-left: 355px;
}

#plus {
  color: darkgreen;
  margin-left: 90px !important;
  margin: 0 10px;
}

.fa-plus {
  color: darkgreen;
  margin: 0 10px;
}

.fa-minus-circle {
  color: darkred;
}

