.fa-searchengin {
  font-size: 24px;
  color: black;
}

.fa-plus-circle {
  font-size: 24px !important;
  margin-left: 500px;
}

p {
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 10px;
}

