.fa-searchengin{
    font-size: 24px;
    color: black;display: inline-block;
}

.fa-plus-circle {
    font-size: 24px !important;
    margin-left: 500px;
    display: inline-block;
}

p{
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 10px;
}

#botaoAdicionarPaciente {
    margin-top: 110px;
    margin-left: 355px;
}

#plus {
    color: darkgreen;
    margin-left: 90px !important;
    margin: 0 10px;
}

.fa-plus{
    color: darkgreen;
    margin: 0 10px;
}

.fa-minus-circle {
    color: darkred;
}